/* Theme */

main {
	background: #0984e3;
	color: #1E1E1E;
}

.icons-social a {
	color: #1E1E1E;
}

.icons-social a svg path{
	fill: #1E1E1E;
}

/*main {
  -webkit-animation: bgcolorchange 2s infinite;  Chrome, Safari, Opera  
  animation: 4s infinite bgcolorchange;
}*/
@keyframes bgcolorchange {
  0% {
    background-color: #ecf0f1;
  }
  25% {
    background-color: #c0392b;
  }
  50% {
    background-color: #e67e22;
  }
  75% {
    background-color: #f1c40f;
  }
  100% {
    background-color: #34495e;
  }
}
/* Chrome, Safari, Opera */
 @-webkit-keyframes bgcolorchange {
      0%   {background: red;}
      25%  {background: yellow;}
      75%  {background: green;}
      100% {background: blue;}
 }